* {
   box-sizing:border-box;
   margin:0;
   padding:0;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }


.todo-style {
width: 400px;
height: 50px;
overflow:auto;
padding:2px;
margin: 10px;
background-color: rgb(80, 80, 85);
color:rgb(240, 222, 222);
border-radius: 2px;
  }

  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #container {
    display: flex;
    flex-direction: column;
    margin:auto;
    max-width:500px;
    gap: 2rem;
  }

  .title {
    color:red;
  }

  #openModal {
    max-width:100px;
    background-color: rgb(0, 204, 255);
    color:white;
    font-size: 14px;
    padding: 3px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
  }


  #todo {
  
  background-color: #888;
  width:auto;
  min-height: 800px;
  margin:10px;
  border-radius: 18px;

  }

  #input {
    width: fit-content;
  }

  li {
    list-style-type: none
  }