
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
  display:flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 500px;
  margin: auto;
}

.content {

}

.title {
font-size: 2rem;
color: red;
font-family: 'Courier New', Courier, monospace;
}

#button {
  max-width: 100px;
}

.results {

}